/* ===== CONFIGURAÇÃO GLOBAL ===== */
body {
    margin: 0;
    background-color: #00396d;
    font-family: "Segoe UI", sans-serif;
    color: white;

    display: flex;
    flex-direction: column;
    min-height: 100vh; /* permite o footer ir para o fim */
}

/* ===== HEADER SUPERIOR ===== */
.top-header {
    width: 100%;
    background-color: rgb(255, 217, 0);
    padding: 25px 0;
    text-align: center;
    color: #003366;
}

.top-header p {
    margin: 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

/* ===== NAVBAR ===== */
.navbar {
    background-color: #002b52;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
}

.navbar .back {
    position: absolute;
    left: 30px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    opacity: 0.5;
}

.navbar a {
    text-decoration: none;
    color: white;
}

/* ===== ÁREA PRINCIPAL ===== */
.container {
    flex: 1; /* empurra o footer para baixo */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

/* ===== CARDS (IMAGENS) ===== */
.card-area {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; /* distância entre as fotos */
}

/* ===== TEXTO ===== */
.text-box {
    width: 80%;
    max-width: 900px;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 30px 40px;
    border-radius: 30px;
    font-size: 22px;
    line-height: 1.45;
    text-align: center;
    margin-top: 40px;
}

/* ===== FOOTER ===== */
.footer {
    background-color: #ffe100;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 100%;
    font-size: 14px;

}

.footer p {
    margin: 5px 0;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 767px) {
    .navbar {
        font-size: 18px;
        gap: 20px;
        padding: 15px 0;
    }

    .navbar .back {
        font-size: 20px;
        left: 15px;
        top: 18px;
    }

    .card {
        width: 45%;
        height: 200px;
    }

    .text-box {
        width: 90%;
        font-size: 18px;
        padding: 20px 25px;
    }
}
