* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #063b73;
}

/* menu */
header {
    background-color: #e7c000;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 70px;
    font-size: 20px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}



/* card amarelo */
.card {
    width: 600px;
    background: #e7c000;
    padding: 40px 30px;
    border-radius: 40px;
    margin-left: 150px;
    margin-top: 100px;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
}

.imagens {
    position: absolute;
    top: 130px;
    right: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 420px;
    margin-bottom: -25px;
}

.pokemon {
    width: 350px;
}
