* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #063b73;
}

/* menu */
header {
    background-color: #02305C;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 70px;
    font-size: 20px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}



/* card amarelo */
.card {
    width: 600px;
    background: #02305C;
    padding: 40px 30px;
    border-radius: 40px;
    margin-left: 150px;
    margin-top: 100px;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    color: white;
}

.imagens {
    position: absolute;
    top: 130px;
    right: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 420px;
    margin-bottom: -25px;
}

.pokemon {
    width: 350px;
}

/*layout*/

@media (min-width: 1025px) {
    .card {
        width: 600px;
        margin-left: 150px;
        margin-top: 100px;
    }

    .imagens {
        top: 130px;
        right: 260px;
    }

    .logo {
        width: 420px;
    }

    .pokemon {
        width: 350px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    nav {
        gap: 40px;
        font-size: 18px;
    }

    .card {
        width: 80%;
        margin: 50px auto;
        font-size: 22px;
    }

    .imagens {
        position: static;
        margin-top: 20px;
    }

    .logo {
        width: 350px;
    }

    .pokemon {
        width: 300px;
    }
}

@media (max-width: 767px) {
    nav {
        flex-direction: column;
        gap: 15px;
        font-size: 18px;
    }

    .card {
        width: 90%;
        margin: 30px auto;
        padding: 25px 20px;
        font-size: 20px;
    }

    .imagens {
        position: static;
        margin-top: 20px;
        align-items: center;
    }

    .logo {
        width: 250px;
    }

    .pokemon {
        width: 220px;
    }
}

