/* ============================
   CONFIGURAÇÃO GLOBAL
============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #040445;
}

nav {
    display: flex;
    justify-content: center;
    gap: 70px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(0, 22, 96);
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}

nav p{
    color: rgb(174, 173, 173);
}

/* ============================
   GRIDS DAS POKÉDEX
============================ */
.pokedex-grid,
.pokedex-dragao,
.pokedex-escuro,
.pokedex-voar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}


/* ============================
   CARD BASE
============================ */
.pokemon-card {
    background: #ffffff;
    border-radius: 18px;
}


.card-header {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px 18px 0 0;
}

.poke-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 10px;
}


.card-body {
    padding: 15px;
   
}


.tipopoke{
    padding: 4px 10px;
    border-radius: 12px;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: bold;
}


.infopoke {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}









